.place__title {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    font-style: normal;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 885px) {
    .place__title {
      font-size: 42px;
      line-height: 1.1;
    }
  }
  
  @media screen and (max-width: 320px) {
    .place__title {
      font-size: 32px;
      line-height: 1.09;
      padding-left: 16px;
    }
  }