.footer__copyright {
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    font-style: normal;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 320px) {
    .footer__copyright {
      line-height: 1;
    }
  }