.cover__overlay {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-image: url(/images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding: calc((245/1184)*100%) 0;
  }
  
  .cover__overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity 0.2s;
  }
  
  .cover__overlay:hover::before {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 1024px) {
    .cover__overlay {
      padding: calc((195/1024)*100%) 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover__overlay {
      padding: calc((115/768)*100%) 0;
    }
  }
  
  @media screen and (max-width: 560px) {
    .cover__overlay {
      padding: calc((33/320)*100%) 0;
    }
  }